<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

    <% @articles.each do |article| %>
      <h4><%= link_to article.title, article %></h4>
    <% end %>
<br>

<strong>Tags:</strong>
<% @tags.each do |tag| %>
  <td><%= link_to tag.name, keyword_tag_path(tag) %></td>
<% end %>

